
VLSI/LAB/programaLAB/*
.vscode/*
*.hi
*.o
*.exe
VC/Models.zip
LP/TREBALL_DIRIGIT/build/*
*.fls
*.log
*.gz
*.fdb_latexmk
LP/TREBALL_DIRIGIT/_minted-main/default.pygstyle
LP/TREBALL_DIRIGIT/_minted-main/default-pyg-prefix.pygstyle
LP/TREBALL_DIRIGIT/_minted-main/D991384D57F1348936993BBECBD7CF974FBEEAFC55D0059826E664B9BBCF3721.pygtex
*.aux
*.pygtex
*.bbl
LP/TREBALL_DIRIGIT/main.bcf
LP/TREBALL_DIRIGIT/main.toc
LP/TREBALL_DIRIGIT/main.run.xml
LP/TREBALL_DIRIGIT/main.blg
.*/
